<!DOCTYPE html>
<html lang="en">
<head>
    {block name="head"}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="font_css">
    <link rel="stylesheet" href="layui_css">
    <script src="jquery_js"></script>
    <script src="layui_js"></script>
    <title>{block name="title"}管理系统{/block}</title>
    {/block}
</head>
{block name="body"}
<body>   

        
</body>
{/block}
</html>